[submodule "engine/modules/defer.hpp"]
	path = vendor/defer.hpp/defer.hpp
	url = https://github.com/blackmatov/defer.hpp
[submodule "engine/modules/vmath.hpp"]
	path = vendor/vmath.hpp/vmath.hpp
	url = https://github.com/blackmatov/vmath.hpp
[submodule "engine/modules/enum.hpp"]
	path = vendor/enum.hpp/enum.hpp
	url = https://github.com/blackmatov/enum.hpp
[submodule "engine/modules/idgen.hpp"]
	path = vendor/idgen.hpp/idgen.hpp
	url = https://github.com/blackmatov/idgen.hpp
[submodule "vendor/glfw/glfw"]
	path = vendor/glfw/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/glew/glew"]
	path = vendor/glew/glew
	url = https://github.com/Perlmint/glew-cmake
